<% include ../partials/headers %>
<div class="mt-5">
    <h1>Profile</h1>

</div>
<form action="/profiles/update" method="POST" style="margin-top: 20px;">       
  <input type="hidden" name="page" value="1" /> 
  <!---------Menampilkan box id------->
<div class="row">
    <div class="col-sm-2">
        <div class="form-check">
            <label class="form-check-label">EMAIL</label>
        </div>
    </div>
    <% if(isAdmin.isadmin){ %>
    <div class="col-sm-6">
        <div class="form-group">
            <input type="email" class="form-control" id="EMAIL" name="EMAIL"placeholder="EMAIL" value="<%=Data.email%>" disabled/>
        </div>
      </div>
</div>
<!---------Menampilkan box Nama------->
<div class="row">
    <div class="col-sm-2">
        <div class="form-check">            
            <label class="form-check-label">Password</label>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Sorry Password Cant Be changed For u Now" value="" disabled/>
        </div>
      </div>
</div>
<%} else { %>
    <div class="col-sm-6">
        <div class="form-group">
            <input type="email" class="form-control" id="EMAIL" name="EMAIL"placeholder="EMAIL" value="<%=Data.email%>" disabled/>
        </div>
      </div>
</div>
<!---------Menampilkan box Nama------->
<div class="row">
    <div class="col-sm-2">
        <div class="form-check">            
            <label class="form-check-label">Password</label>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" value="" />
        </div>
      </div>
</div>
<%}%>
<div class="col-sm-11">
<fieldset class="form-group">
    <div class="row">
        <legend class="col-form-label col-sm-2 pt-0"> Position</legend>
        <div class="col-sm-10 ">
            <div class="custom-control custom-radio">
                <input type="radio" id="manager" name="role" class="custom-control-input"
                    value="Manager" <%= Data.roles == 'Manager' ? 'checked' : '' %>>
                <label class="custom-control-label" for="manager">Manager</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="programmer" name="role" class="custom-control-input"
                    value="Programmer" <%= Data.roles == 'Programmer' ? 'checked' : '' %>>
                <label class="custom-control-label" for="programmer">Programmer</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="QA" name="role" class="custom-control-input"
                    value="Quality Assurance"
                    <%= Data.roles == 'QualityAssurance' ? 'checked' : '' %>>
                <label class="custom-control-label" for="QA">Quality Assurance</label>
            </div>
        </div>
    </div>
  </div>
</fieldset>
<fieldset class="form-group ml-3">
    <div class="row">
        <legend class="col-form-label col-sm-2 pt-0"> Type</legend>
        <div class="col-sm-10 ">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" id="typejob" name="typejob" class="custom-control-input"
                    value="true" <%= Data.typejob == true ? 'checked' : '' %>>
                <label class="custom-control-label" for="typejob">IsFulltime</label>
            </div>
        </div>
    </div>
</fieldset>

        <button type="submit" class="btn btn-primary">Update</button>
      </form>



<% include ../partials/footers %>

