<% include ../partials/headers %>
  <div class="mt-5">
    <h1>Projects</h1>
    <h2>Filters</h2>
  </div>
    <div class="container" style="padding-top: 20px">
    <form action="/projects" method="GET">       
      <input type="hidden" name="page" value="1" /> 
      <!---------Menampilkan box id------->
    <div class="row">
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox"name="ckid" <%= query.ckid ? ' checked': '' %> />
                <label class="form-check-label">ID</label>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <input type="text" class="form-control" id="id" name="id"placeholder="ID" value="<%= query.id %>"/>
            </div>
          </div>
    </div>
    <!---------Menampilkan box Nama------->
    <div class="row">
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="ckname"
                <%= query.ckname ? ' checked': '' %>/>Name
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="name"placeholder="Name" value="<%= query.name %>"/>
            </div>
          </div>
    </div>
    
        <!-------Menampilkan box Member -------->
        <div class="row">
          <div class="col-sm-2">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="ckmember" <%= query.ckmember ? ' checked': '' %>/>Member
              </div>
          </div>
          <div class="col-sm-5">
            
            <div class="form-group">                    
              <select class="form-control" name="member">
                <option value="">Choose the member..</option>
                <%for (let i =0; i < users.length; i++) { %>
                  <option value="<%=users[i].userid %> "><%= users[i].firstname%> <%= users[i].lastname%></option>  
                  <% };%>                  
                  </select>
              </div>
            </div>
        </div>
            <button type="submit" class="btn btn-primary" style="border-radius: 20px;">Search</button>
            <a href="/projects">
          <button  type="button" class="btn btn-info" style="border-radius: 20px;">Reset</button>
          </a>
        </div>
            
          </div>
        </form>

        <!---------Menampilkan box Column checkbox------->

          <h1>Options</h1>

          <form action="/projects/update" method="POST">
            <div class="container">
              <div class="row">
                <div class="col-sm-2">
                  <p>Columns</p>
                </div>
                
                <div class="col-sm-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" name="idChecked" value="true" <%= option.idChecked== "true" ? ' checked': '' %>>
                        <label class="custom-control-label" for="customCheck1" >ID </label>                        
                      </div>
                  
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck2" name="nameChecked" value="true" <%= option.nameChecked== "true" ? ' checked': '' %>>
                          <label class="custom-control-label" for="customCheck2" >Name </label>                        
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck3" name="memberChecked" value="true"  <%= option.memberChecked== "true" ? ' checked': '' %>>
                            <label class="custom-control-label" for="customCheck3">Member </label>                        
                          </div>
                </div>
              </div>
            </div>
            
            <button type="submit" class="btn btn-info" style="border-radius: 20px; margin-bottom: 20px;">Apply</button>
          </form>   
          
       
        <!---------Menampilkan box Tabel------->
      <div>
        <table class="table table-striped" border="1">
          <thead>
            <tr>
                <% if( option.idChecked == "true") { %> <th scope="col">#</th> <%}%>
                <% if( option.nameChecked == "true" ) { %><th scope="col">Nama</th><%}%>
                <% if( option.memberChecked == "true" ) { %><th scope="col">Member</th><%}%>

                <% if(isAdmin.isadmin) {%>
                <th scope="col">Action</th>
                <%}%>
            </tr>  
          </thead>
          <tbody>
            <% data.forEach(data => { %>
              <tr>
                  <% if( option.idChecked) { %> <td><a href="/projects/overview/<%= data.projectid %>"> <%= data.projectid %></td> </a><%}%>
                  <% if( option.nameChecked) { %><td><%= data.name %></td> <%}%>
                  <% if( option.memberChecked) { %><td><%= data.members %></td> <%}%>
                  <% if(isAdmin.isadmin) {%>
                  <td>
                    <a class="btn btn-success" style="border-radius: 15px;" href="/projects/edit/<%= data.projectid %>">Edit</a>
                      <a class="btn btn-danger" style="border-radius: 10px; color: white" onclick="return confirm('Delete ?')" href="/projects/deleted/<%= data.projectid %>">Delete</a>
                      </td>
                      <%}%>
              </tr>
            <% }); %>
          </tbody>
        </table>
        </div>
        <nav aria-label="Page navigation example" style="margin-top:1%">
            <ul class="pagination" class="pagination justify-content-center">
                <li class="page-item <%= current == 1 ? 'disabled' : ''%>"><a class="page-link"
                        href="/projects<%= url.replace(`page=${parseInt(current)}`, `page=${parseInt(current) - 1}`) %>">Previous</a>
                </li>
                <% for(let i = 1; i <= pages; i++){ %>
                <li class="page-item <%= current == i ? 'active' : '' %>"><a class="page-link"
                        href="/projects<%= url.replace(`page=${current}`, `page=${i}`) %>"><%= i %></a></li>
                <% } %>
                <li class="page-item <%= current == pages ? 'disabled' : ''%>"><a class="page-link"
                        href="/projects<%= url.replace(`page=${parseInt(current)}`, `page=${parseInt(current) + 1}`) %>">Next</a>
                </li>
            </ul>
        </nav>

        <a class="btn btn-secondary" style="border-radius: 20px;" href="/projects/add">ADD</a>
    </div>
</div>

</form>

    <!-- Optional JavaScript -->
    <!-- jquery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
    <% include ../partials/footers %>
